<!-- Card -->
<a
        th:href="@{/sports-field/1/details}"
        th:class="${content == 'fieldDetail'} ? 'bg-white shadow-lg rounded-lg overflow-hidden block' : 'bg-white shadow-lg rounded-lg overflow-hidden block'"
        xmlns:th="http://www.w3.org/1999/xhtml">
    <img th:src="@{/image/manxanh.png}" alt="Sport field image" class="w-400 h-300 object-cover">
    <div class="p-4">
        <h4 class="font-bold text-xl">Manchester City Academy</h4>
        <p class="text-gray-600">24.000/đ</p>
        <p class="text-gray-500">Best fields in the world</p>
        <div class="mt-2 flex space-x-2">
            <span>⭐ 4.2/5</span>
        </div>
    </div>
</a>

<a href="#" class="bg-white shadow-lg rounded-lg overflow-hidden block">
    <img th:src="@{/image/manxanh.png}" alt="Sport field image" class="w-400 h-300 object-cover">
    <div class="p-4">
        <h4 class="font-bold text-xl">Manchester City Academy</h4>
        <p class="text-gray-600">24.000/đ</p>
        <p class="text-gray-500">Best fields in the world</p>
        <div class="mt-2 flex space-x-2">
            <span>⭐ 4.2/5</span>
        </div>
    </div>
</a>

<a href="#" class="bg-white shadow-lg rounded-lg overflow-hidden block" >
    <img th:src="@{/image/manxanh.png}" alt="Sport field image" class="w-400 h-300 object-cover">
    <div class="p-4">
        <h4 class="font-bold text-xl">Manchester City Academy</h4>
        <p class="text-gray-600">24.000/đ</p>
        <p class="text-gray-500">Best fields in the world</p>
        <div class="mt-2 flex space-x-2">
            <span>⭐ 4.2/5</span>
        </div>
    </div>
</a>