<div class="w-full p-6" th:fragment="home" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="flex justify-between items-center mb-6">
        <h1 class="text-2xl font-bold" th:text="#{dashboard.heading.title}">Report</h1>
        <select id="languageSelect" class="bg-transparent border-none text-black p-0 appearance-none"
            onchange="switchLanguage(this.value)">
            <option value="" disabled selected class="text-white" th:text="#{homepage.language.label}"></option>
            <option value="en" class="text-black" th:text="#{homepage.english.title}"></option>
            <option value="vi" class="text-black" th:text="#{homepage.vietnamese.title}"></option>
        </select>
        <!-- <div>
            <input id="reportDate" type="date" class="border rounded-md p-2">
        </div> -->
    </div>

    <!-- Main Content -->
    <div class="grid grid-cols-2 gap-6">
        <!-- Revenue Section -->
        <div class="bg-white p-6 rounded-lg shadow">
            <h2 class="text-lg font-semibold mb-4" th:text="#{dashboard.revenue.title}">Revenue</h2>
            <canvas id="revenueChart" width="400" height="200"></canvas>
            <div class="flex justify-between items-center mt-4">
                <span class="text-xl font-bold" id="currentRevenueTotal">$823.76</span>
                <div>
                    <span class="text-sm text-gray-500" th:text="#{dashboard.previous.title}">Previous:</span>
                    <span class="text-sm text-gray-500" id="previousRevenueTotal">$676.90</span>
                </div>
            </div>
        </div>

        <!-- Goals Section -->
        <div class="bg-white p-6 rounded-lg shadow">
            <h2 class="text-lg font-semibold mb-4" th:text="#{dashboard.month_progress.header}">Goals</h2>
            <div class="text-center">
                <div class="relative w-32 h-32 mx-auto">
                    <canvas id="goalsChart"></canvas>
                    <div class="absolute inset-0 flex items-center justify-center text-3xl font-semibold">
                        <span id="percentageChange" class="text-xl"></span>
                    </div>
                </div>
                <div class="flex items-center justify-center mt-24">
                    <span class="text-lg text-gray-500 mr-2" id="comparisonChange"></span>
                    <span class="text-lg text-gray-500" th:text="#{dashboard.this_month_percentage.title}"></span>
                    <span class="text-lg text-gray-500">
                        (
                        <span class="text-lg text-gray-500" id="previousMonth"></span>
                        )
                    </span>
                </div>
            </div>

            <!-- Goal Colors Description -->
            <div class="mt-32 pl-16">
                <div class="flex items-center mb-2">
                    <div class="w-4 h-4 bg-purple-600 rounded-sm mr-2"></div>
                    <span class="text-sm text-gray-700" th:text="#{dashboard.main_month_goal.title}">Current Month
                        Progress
                        (Purple)</span>
                </div>
                <div class="flex items-center mb-2">
                    <div class="w-4 h-4 bg-blue-400 rounded-sm mr-2"></div>
                    <span class="text-sm text-gray-700" th:text="#{dashboard.secondary_month_goal.title}">Secondary Goal
                        Progress (Blue)</span>
                </div>
                <div class="flex items-center mb-2">
                    <div class="w-4 h-4 bg-gray-300 rounded-sm mr-2"></div>
                    <span class="text-sm text-gray-700" th:text="#{dashboard.unachieved_progress.title}">Unachieved
                        Progress
                        (Gray)</span>
                </div>
            </div>
        </div>

        <!-- Year dashboard-->
        <div class="bg-white p-6 rounded-lg shadow mt-6 col-span-2">
            <h2 class="text-lg font-semibold mb-4" th:text="#{dashboard.year_progress.header}">Yearly Progress</h2>
        
            <div class="flex items-center justify-end space-x-4 mb-4">
                    <!-- From Date -->
                    <div>
                        <label for="from-date" class="block text-sm font-medium text-gray-700"
                            th:text="#{dashboard.order_fromDate.title}">Từ ngày</label>
                        <input type="date" id="from-date"
                            class="mt-1 block w-full bg-white border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                    </div>
            
                    <!-- To Date -->
                    <div>
                        <label for="to-date" class="block text-sm font-medium text-gray-700"
                            th:text="#{dashboard.order_toDate.title}">Đến ngày</label>
                        <input type="date" id="to-date"
                            class="mt-1 block w-full bg-white border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                    </div>
            </div>
        
            <!-- Chart -->
            <canvas id="yearlyChart" width="800" height="300"></canvas>
        </div>
        

        <!-- Top Buyer Section -->
        <div class="bg-white p-6 rounded-lg shadow">
            <div class="flex justify-between">
                <h2 class="text-lg font-semibold mb-4" th:text="#{dashboard.top_buyer.title}">Top Buyer</h2>
                <input type="number" placeholder="Top N" class="border p-1 w-16 text-sm rounded-md" id="topBuyerInput"
                    oninput="updateTopBuyer()">
            </div>
            <ul id="topBuyerList">

            </ul>
            <button id="topBuyerListSeeMore" class="text-blue-500 mt-2" onclick="showMore('topBuyerList')">Xem
                thêm</button>
        </div>

        <!-- Top Product Section -->
        <div class="bg-white p-6 rounded-lg shadow">
            <div class="flex justify-between">
                <h2 class="text-lg font-semibold mb-4" th:text="#{dashboard.top_product.title}">Top Product</h2>
                <input type="number" placeholder="Top N" class="border p-1 w-16 text-sm rounded-md" id="topProductInput"
                    oninput="updateTopProduct()">
            </div>
            <ul id="topProductList">

            </ul>
            <button id="topProductListSeeMore" class="text-blue-500 mt-2" onclick="showMore('topProductList')">Xem
                thêm</button>
        </div>
    </div>
    <script th:src="@{/js/dashboard-page/dashboard.js}"></script>
</div>