<div class="w-full p-6 bg-white rounded-lg shadow h-[100vh] overflow-y-auto" th:fragment="order"
    xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- Header -->
    <div class="flex justify-between items-center mb-6">
        <h1 class="text-2xl font-bold" th:text="#{dashboard.order_heading.title}">Order</h1>
        <select id="languageSelect" class="bg-transparent border-none text-black p-0 appearance-none"
            onchange="switchLanguage(this.value)">
            <option value="" disabled selected class="text-white" th:text="#{homepage.language.label}"></option>
            <option value="en" class="text-black" th:text="#{homepage.english.title}"></option>
            <option value="vi" class="text-black" th:text="#{homepage.vietnamese.title}"></option>
        </select>
    </div>

    <!-- Orders Found -->
    <div class="flex justify-between items-center mb-6">
        <span class="flex text-gray-500">
            <p class="mr-1">50</p>
            <span th:text="#{dashboard.order_found.title}"> đơn hàng được tìm thấy</span>
        </span>
    </div>

    <!-- Search Section -->
    <div class="mb-6 flex justify-between">
        <!-- Search and Status Select -->
        <div class="flex items-center space-x-4 w-2/3">
            <!-- Search Input -->
            <div class="flex w-full">
                <input type="text" id="search"
                    class="block w-full bg-white border-gray-300 p-4 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                    th:placeholder="#{dashboard.order_search.placeholder}" placeholder="Tìm kiếm đơn hàng...">
            </div>

            <!-- Status Select -->
            <div>
                <select id="status"
                    class="block w-64 bg-white border-gray-300 p-4 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                    <option value="" th:text="#{dashboard.order_searchStatus.title}" class="w-full">Tất cả trạng thái
                    </option>
                    <option value="pending" th:text="#{dashboard.order_status.pending}" class="w-full">Pending</option>
                    <option value="dispatch" th:text="#{dashboard.order_status.dispatch}" class="w-full">Dispatch
                    </option>
                </select>
            </div>
        </div>

        <!-- Date Range -->
        <div class="flex items-center space-x-4">
            <!-- From Date -->
            <div>
                <label for="from-date" class="block text-sm font-medium text-gray-700"
                    th:text="#{dashboard.order_fromDate.title}">Từ ngày</label>
                <input type="date" id="from-date"
                    class="mt-1 block w-full bg-white border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            </div>

            <!-- To Date -->
            <div>
                <label for="to-date" class="block text-sm font-medium text-gray-700"
                    th:text="#{dashboard.order_toDate.title}">Đến ngày</label>
                <input type="date" id="to-date"
                    class="mt-1 block w-full bg-white border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            </div>

            <!-- Search Button -->
            <div class="flex items-end">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
                    th:text="#{dashboard.order_searchButton.title}">Tìm kiếm</button>
            </div>
        </div>
    </div>

    <!-- Orders Table -->
    <table class="w-full text-left border-collapse">
        <thead>
            <tr class="text-gray-600 bg-gray-100">
                <th class="p-4 cursor-pointer" onclick="sortTable(0)" th:text="#{dashboard.order_code.title}">Mã đơn
                </th>
                <th class="p-4 cursor-pointer" onclick="sortTable(1)" th:text="#{dashboard.order_buyerName.title}">Tên
                    người mua</th>
                <th class="p-4 cursor-pointer" onclick="sortTable(2)" th:text="#{dashboard.order_address.title}">Tên
                </th>
                <th class="p-4 cursor-pointer" onclick="sortTable(3)" th:text="#{dashboard.order_date.title}">Ngày</th>
                <th class="p-4 cursor-pointer" onclick="sortTable(4)" th:text="#{dashboard.order_price.title}">Giá</th>
                <th class="p-4 cursor-pointer" onclick="sortTable(5)" th:text="#{dashboard.order_status.title}">Trạng
                    thái</th>
                <th class="p-4" th:text="#{dashboard.order_action.title}">Thao tác</th>
            </tr>
        </thead>
        <tbody id="handleOrder">
            <!-- Example Order Rows -->

        </tbody>

    </table>

    <!-- Pagination -->
    <div class="mt-6 flex justify-between items-center">
        <span id="pagination-info" class="text-sm text-gray-700"></span>
        <div id="pagination-controls" class="inline-flex"></div>
    </div>

    <!-- Modal -->
    <div id="booking-detail-modal" class="hidden fixed z-10 inset-0 overflow-y-auto bg-gray-900 bg-opacity-50">
        <div class="flex items-center justify-center min-h-screen">
            <div class="bg-white rounded-lg overflow-hidden shadow-xl transform transition-all max-w-lg w-full">
                <div class="px-4 py-5 sm:p-6">
                    <h3 class="text-lg leading-6 font-medium text-gray-900 text-center mb-4">Booking Details</h3>
                    <div class="mt-2 space-y-4">
                        <div class="flex justify-between">
                            <span class="font-semibold">No:</span>
                            <span id="detail-no" class="text-gray-700"></span>
                        </div>
                        <div class="flex justify-between">
                            <span class="font-semibold">User:</span>
                            <span id="detail-user" class="text-gray-700"></span>
                        </div>
                        <!-- <div class="flex justify-between">
                            <span class="font-semibold">Sport Field:</span>
                            <span id="detail-sport-field" class="text-gray-700"></span>
                        </div> -->
                        <div id="booking-items-container" class="space-y-4">
                            <!-- Booking items will be appended here -->
                        </div>
                        <div class="flex justify-between">
                            <span class="font-semibold">Total Price:</span>
                            <span id="detail-total-price" class="text-gray-700"></span>
                        </div>
                        <div class="flex justify-between">
                            <span class="font-semibold">Status:</span>
                            <span id="detail-status" class="text-gray-700"></span>
                        </div>
                    </div>
                </div>
                <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                    <button id="close-modal-button" th:text="#{booking_detail.close.title}"
                        class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/js/utils.js}"></script>
    <script th:src="@{/js/dashboard-page/order.js}"></script>
</div>