<!-- Pagination -->
<div class="mt-6 flex justify-between items-center">
    <span class="text-sm text-gray-700" th:text="#{dashboard.order_pagination.title(1, 10, 50)}">Hiển thị từ 1 đến
        10 của 50 đơn hàng</span>
    <div class="inline-flex">
        <button class="px-3 py-2 mr-1 text-gray-700 bg-white border border-gray-300 rounded-l-md hover:bg-gray-50"
            th:text="#{dashboard.previousPage.title}">
            Trước
        </button>
        <button
            class="px-3 py-2 mr-1 text-gray-700 bg-white border-t border-b border-gray-300 hover:bg-gray-50">1</button>
        <button
            class="px-3 py-2 mr-1 text-gray-700 bg-white border-t border-b border-gray-300 hover:bg-gray-50">2</button>
        <button class="px-3 py-2 text-gray-700 bg-white border border-gray-300 rounded-r-md hover:bg-gray-50"
            th:text="#{dashboard.nextPage.title}">
            Sau
        </button>
    </div>
</div>