<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{/components/head :: head}"></div>

<body>
    <header th:replace="~{/components/header :: header}"></header>

    <div class="bg-gray-100 flex flex-col min-h-[60vh]">
        <div th:replace="~{/components/customer-page/main-content :: mainContent}"></div>
    </div>

    <footer th:replace="~{/components/footer :: footer}"></footer>

    <script th:src="@{/js/header.js}"></script>
    <script th:src="@{/js/my-booking.js}"></script>
    <script th:src="@{/js/customer-page/home.js}"></script>
    <script th:src="@{/js/customer-page/notification.js}"></script>
</body>

</html>