<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/components/head :: head}"></head>
<body>
<header th:replace="~{/components/header :: header}"></header>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.css" />
<div>
<!--    <div th:replace="~{/components/nav-bar :: navBar}"></div>-->
    <div th:replace="~{/components/customer-page/main-content :: mainContent}"></div>
</div>

<footer th:replace="~{/components/footer :: footer}"></footer>
</body>
<script th:src="@{/js/header.js}"></script>
<script src="https://cdn.tailwindcss.com"></script>
</html>