<div class="w-full p-6 bg-white rounded-lg shadow h-[100vh] overflow-y-auto" th:fragment="category"
    xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- Header -->
    <div class="flex justify-between items-center mb-6">
        <h1 class="text-2xl font-bold" th:text="#{dashboard.category_heading.title}">Category</h1>
        <select id="languageSelect" class="bg-transparent border-none text-black p-0 appearance-none"
            onchange="switchLanguage(this.value)">
            <option value="" disabled selected class="text-white" th:text="#{homepage.language.label}"></option>
            <option value="en" class="text-black" th:text="#{homepage.english.title}"></option>
            <option value="vi" class="text-black" th:text="#{homepage.vietnamese.title}"></option>
        </select>
    </div>
    <!-- Categories Found -->
    <div class="flex justify-between items-center mb-6">
        <span class="flex text-gray-500">
            <p id="category-quantity" class="mr-1">...</p>
            <span th:text="#{dashboard.category_found.title}"> categories found</span>
        </span>
        <button id="add-category-button" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
            th:text="#{dashboard.category_add.title}"></button>
    </div>

    <!-- Search Section -->
    <div class="mb-6 flex justify-between">
        <!-- Search  -->
        <div class="flex items-center space-x-4 w-2/3">
            <!-- Search Input -->
            <div class="flex w-full">
                <input type="text" id="search"
                    class="block w-full bg-white border-gray-300 p-4 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                    th:placeholder="#{dashboard.category_search.placeholder}" placeholder="Search categories...">
            </div>
        </div>

        <!-- <div class="flex items-center space-x-4">
            Search Button
            <div class="flex items-end">
                <button id="search-btn" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
                    th:text="#{dashboard.category_searchButton.title}">Search</button>
            </div>
        </div> -->
    </div>

    <!-- Categories Table -->
    <table class="w-full text-left border-collapse">
        <thead>
            <tr class="text-gray-600 bg-gray-100">
                <th class="p-4 cursor-pointer" onclick="sortTable(0)" th:text="#{dashboard.category_id.title}">ID</th>
                <th class="p-4 cursor-pointer" onclick="sortTable(1)" th:text="#{dashboard.category_name.title}">Name
                </th>
                <th class="p-4" th:text="#{dashboard.category_action.title}">Actions</th>
            </tr>
        </thead>
        <tbody>
            <!-- Example Row -->
            <tr class="border-b">
                <td class="p-4">#101</td>
                <td class="p-4">Holiday Sale</td>
                <td class="p-4">
                    <button class="edit-button text-blue-500 hover:text-blue-700">
                        <i class="fas fa-edit"></i>
                    </button>
                    <button class="text-red-500 hover:text-red-700">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </td>
            </tr>

            <tr class="border-b">
                <td class="p-4">#102</td>
                <td class="p-4">Holy moly</td>
                <td class="p-4">
                    <button class="edit-button text-blue-500 hover:text-blue-700">
                        <i class="fas fa-edit"></i>
                    </button>
                    <button class="text-red-500 hover:text-red-700">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Pagination -->
    <div class="mt-6 flex justify-between items-center">
        <span id="show-item-of-page-category" class="text-sm text-gray-700"
            th:text="#{dashboard.order_pagination.title(1, 10, 50)}">Hiển thị từ 1 đến
            10 trên 50</span>
        <div class="inline-flex">
            <button id="previous-page-button-category"
                class="px-3 py-2 mr-1 text-gray-700 bg-white border border-gray-300 rounded-l-md hover:bg-gray-50"
                th:text="#{dashboard.previousPage.title}">
                Trước
            </button>
            <button id="page-1-button-category"
                class="px-3 py-2 mr-1 text-gray-700 bg-white border-t border-b border-gray-300 hover:bg-gray-50">1</button>
            <button id="page-2-button-category"
                class="px-3 py-2 mr-1 text-gray-700 bg-white border-t border-b border-gray-300 hover:bg-gray-50">2</button>
            <button id="next-page-button-category"
                class="px-3 py-2 text-gray-700 bg-white border border-gray-300 rounded-r-md hover:bg-gray-50"
                th:text="#{dashboard.nextPage.title}">
                Sau
            </button>
        </div>
    </div>

    <!-- Modal to Add/Edit Category -->
    <div id="categoryModal" class="fixed inset-0 z-50 hidden flex items-center justify-center">
        <div id="categoryOverlay" class="fixed inset-0 bg-black opacity-50"></div>

        <div class="bg-white p-8 rounded-lg shadow-lg relative w-3/4">
            <button id="closeCategoryModalBtn" class="absolute top-4 right-4 text-gray-700 text-lg font-bold">
                &times;
            </button>

            <div>
                <div class="flex justify-between items-center mb-4">
                    <h2 id="categoryModalTitle" class="text-xl font-bold">Add/Edit Category</h2>
                </div>
                <form id="categoryForm">
                    <!-- name -->
                    <div class="mb-4">
                        <label for="categoryName" class="block text-sm font-medium text-gray-700">Name</label>
                        <input type="text" id="categoryName"
                            class="mt-1 block w-full p-2 bg-white border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                    </div>
                    <!-- <div class="mb-4">
                        <label for="categoryDescription"
                            class="block text-sm font-medium text-gray-700">Description</label>
                        <input type="text" id="categoryDescription"
                            class="mt-1 block w-full p-2 bg-white border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                    </div> -->

                    <!-- <div class="mb-4">
                        <label for="discountPercentage" class="block text-sm font-medium text-gray-700">Discount
                            Percentage</label>
                        <input type="number" id="discountPercentage" step="0.01" min="0" max="100"
                            class="mt-1 block w-full p-2 bg-white border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                    </div>

                    <div class="mb-4">
                        <label for="startDate" class="block text-sm font-medium text-gray-700">Start Date</label>
                        <input type="date" id="startDate"
                            class="mt-1 block w-full p-2 bg-white border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                    </div>

                    <div class="mb-4">
                        <label for="endDate" class="block text-sm font-medium text-gray-700">End Date</label>
                        <input type="date" id="endDate"
                            class="mt-1 block w-full p-2 bg-white border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                    </div> -->
                </form>

                <div class="text-right">
                    <button id="saveCategoryButton"
                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Save</button>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{/js/dashboard-page/utils.js}"></script>
    <script th:src="@{/js/dashboard-page/category.js}"></script>
</div>