<div class="w-full p-6 bg-white rounded-lg shadow h-[100vh] overflow-y-auto" th:fragment="user">
    <!-- Header -->
    <div class="flex justify-between items-center mb-6">
        <h1 class="text-2xl font-bold" th:text="#{dashboard.user_heading.title}">Users</h1>
        <select id="languageSelect" class="bg-transparent border-none text-black p-0 appearance-none"
            onchange="switchLanguage(this.value)">
            <option value="" disabled selected class="text-white" th:text="#{homepage.language.label}"></option>
            <option value="en" class="text-black" th:text="#{homepage.english.title}"></option>
            <option value="vi" class="text-black" th:text="#{homepage.vietnamese.title}"></option>
        </select>
        <button id="addUserBtn" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
            th:text="#{dashboard.add_user.title}"></button>
    </div>

    <!-- Users Found -->
    <div class="flex justify-between items-center mb-6">
        <span class="flex text-gray-500">
            <p id="user-quantity" class="mr-1">100</p>
            <span th:text="#{dashboard.user_found.title}"></span>
        </span>
    </div>

    <!-- Search Section -->
    <div class="mb-6 flex justify-between">
        <!-- Search Input -->
        <div class="flex items-center space-x-4 w-2/3">
            <input type="text" id="search"
                class="block w-full bg-white border-gray-300 p-4 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                th:placeholder="#{dashboard.user_search.placeholder}">
        </div>

        <!-- Status Filter -->
        <div class="flex items-center space-x-4">
            <select id=""
                class="block w-64 bg-white border-gray-300 p-4 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                <option value="" th:text="#{dashboard.user_searchStatus.title}" class="w-full"></option>
                <option value="active" th:text="#{dashboard.user_status.active}" class="w-full"></option>
                <option value="banned" th:text="#{dashboard.user_status.banned}" class="w-full"></option>
            </select>
        </div>
    </div>

    <!-- Users Table -->
    <table class="w-full text-left border-collapse">
        <thead>
            <tr class="text-gray-600 bg-gray-100">
                <th class="p-4 cursor-pointer" onclick="sortTable(0)" th:text="#{dashboard.user_id.title}"></th>
                <th class="p-4 cursor-pointer" onclick="sortTable(1)" th:text="#{dashboard.user_image.title}"></th>
                <th class="p-4 cursor-pointer" onclick="sortTable(2)" th:text="#{dashboard.user_birthdate.title}"></th>
                <th class="p-4 cursor-pointer" onclick="sortTable(3)" th:text="#{dashboard.user_email.title}"></th>
                <th class="p-4 cursor-pointer" onclick="sortTable(4)" th:text="#{dashboard.user_firstname.title}"></th>
                <th class="p-4 cursor-pointer" onclick="sortTable(5)" th:text="#{dashboard.user_middlename.title}"></th>
                <th class="p-4 cursor-pointer" onclick="sortTable(6)" th:text="#{dashboard.user_lastname.title}"></th>
                <th class="p-4 cursor-pointer" onclick="sortTable(7)" th:text="#{dashboard.user_gender.title}"></th>
                <th class="p-4 cursor-pointer" onclick="sortTable(8)" th:text="#{dashboard.user_phone.title}"></th>
                <th class="p-4 cursor-pointer" onclick="sortTable(9)" th:text="#{dashboard.user_username.title}"></th>
                <th class="p-4 cursor-pointer" onclick="sortTable(10)" th:text="#{dashboard.user_status.title}"></th>
                <th class="p-4" th:text="#{dashboard.user_action.title}"></th>
            </tr>
        </thead>
        <tbody>
            <!-- Example User Rows -->
            <tr class="border-b">
                <td class="p-4">1</td>
                <td class="p-4">
                    <img src="https://placehold.co/40x40" alt="Stadium Image" />
                </td>
                <td class="p-4">1990-01-01</td>
                <td class="p-4">example@example.com</td>
                <td class="p-4">John</td>
                <td class="p-4">Middle</td>
                <td class="p-4">Doe</td>
                <td class="p-4">Male</td>
                <td class="p-4">0123456789</td>
                <td class="p-4">john.doe</td>
                <td class="p-4">
                    <span class="bg-green-100 text-green-600 py-1 px-3 rounded-full text-xs"
                        th:text="#{dashboard.user_status.active}"></span>
                </td>
                <td class="p-4">
                    <button class="edit-button text-blue-500 hover:text-blue-700">
                        <i class="fas fa-edit"></i>
                    </button>
                    <button class="text-red-500 hover:text-red-700">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Pagination -->
    <div class="mt-6 flex justify-between items-center">
        <span id="show-item-of-page-user" class="text-sm text-gray-700"
            th:text="#{dashboard.order_pagination.title(1, 10, 50)}">Hiển thị từ 1 đến
            10 trên 50</span>
        <div class="inline-flex">
            <button class="px-3 py-2 mr-1 text-gray-700 bg-white border border-gray-300 rounded-l-md hover:bg-gray-50"
                th:text="#{dashboard.previousPage.title}">
                Trước
            </button>
            <button
                class="px-3 py-2 mr-1 text-gray-700 bg-white border-t border-b border-gray-300 hover:bg-gray-50">1</button>
            <button
                class="px-3 py-2 mr-1 text-gray-700 bg-white border-t border-b border-gray-300 hover:bg-gray-50">2</button>
            <button class="px-3 py-2 text-gray-700 bg-white border border-gray-300 rounded-r-md hover:bg-gray-50"
                th:text="#{dashboard.nextPage.title}">
                Sau
            </button>
        </div>
    </div>

    <!-- Modal to Add User -->
    <div id="userModal" class="fixed inset-0 z-50 hidden flex items-center justify-center">
        <!-- Overlay background -->
        <div id="overlay" class="fixed inset-0 bg-black opacity-50"></div>

        <div class="bg-white p-8 rounded-lg shadow-lg relative w-3/4 flex">
            <!-- Close button (X) -->
            <button id="closeUserModalBtn"
                class="absolute top-4 right-4 text-gray-700 text-lg font-bold">&times;</button>

            <!-- Left Side: Image -->
            <div class="w-1/2 pr-6">
                <label class="block text-lg font-semibold text-gray-700 mb-4"
                    th:text="#{dashboard.user_image.title}"></label>
                <img id="userImagePreview" src="https://placehold.co/800x600"
                    class="w-400 h-400 object-cover rounded-md mb-4" alt="User Image Preview">
                <div class="flex justify-between">
                    <button class="bg-gray-300 hover:bg-gray-400 text-gray-700 font-bold py-2 px-4 rounded"
                        onclick="replaceUserImage()" th:text="#{dashboard.replace_button.title}"></button>
                    <button class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded"
                        onclick="clearUserImage()" th:text="#{dashboard.clear_button.title}"></button>
                </div>
            </div>

            <!-- Right Side: Form Fields -->
            <div class="w-1/2">
                <div class="flex justify-between items-center mb-4">
                    <h2 class="text-xl font-bold" th:text="#{dashboard.add_user_modal.title}"></h2>
                </div>

                <form>
                    <!-- First Name -->
                    <div class="mb-4">
                        <label for="firstName" class="block text-sm font-medium text-gray-700"
                            th:text="#{dashboard.first_name.title}"></label>
                        <input type="text" id="firstName"
                            class="mt-1 block w-full p-2 bg-white border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                    </div>

                    <!-- Middle Name -->
                    <div class="mb-4">
                        <label for="middleName" class="block text-sm font-medium text-gray-700"
                            th:text="#{dashboard.middle_name.title}"></label>
                        <input type="text" id="middleName"
                            class="mt-1 block w-full p-2 bg-white border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                    </div>

                    <!-- Last Name -->
                    <div class="mb-4">
                        <label for="lastName" class="block text-sm font-medium text-gray-700"
                            th:text="#{dashboard.last_name.title}"></label>
                        <input type="text" id="lastName"
                            class="mt-1 block w-full p-2 bg-white border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                    </div>

                    <!-- Email -->
                    <div class="mb-4">
                        <label for="email" class="block text-sm font-medium text-gray-700"
                            th:text="#{dashboard.email.title}"></label>
                        <input type="email" id="email"
                            class="mt-1 block w-full p-2 bg-white border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                    </div>

                    <!-- Phone -->
                    <div class="mb-4">
                        <label for="phone" class="block text-sm font-medium text-gray-700"
                            th:text="#{dashboard.phone_number.title}"></label>
                        <input type="text" id="phone"
                            class="mt-1 block w-full p-2 bg-white border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                    </div>

                    <!-- Gender -->
                    <div class="mb-4">
                        <label for="gender" class="block text-sm font-medium text-gray-700"
                            th:text="#{dashboard.gender.title}"></label>
                        <select id="gender"
                            class="block w-full bg-white border-gray-300 p-2 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                            <option value="Male" th:text="#{dashboard.gender.male}"></option>
                            <option value="Female" th:text="#{dashboard.gender.female}"></option>
                            <option value="Other" th:text="#{dashboard.gender.other}"></option>
                        </select>
                    </div>

                    <!-- Birthdate -->
                    <div class="mb-4">
                        <label for="birthdate" class="block text-sm font-medium text-gray-700"
                            th:text="#{dashboard.birthdate.title}"></label>
                        <input type="date" id="birthdate"
                            class="mt-1 block w-full p-2 bg-white border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                    </div>

                    <!-- Status -->
                    <div class="mb-4">
                        <label for="status" class="block text-sm font-medium text-gray-700"
                            th:text="#{dashboard.status.title}"></label>
                        <select id="status"
                            class="block w-full bg-white border-gray-300 p-2 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                            <option value="ACTIVE" th:text="#{dashboard.status.active}"></option>
                            <option value="BANNED" th:text="#{dashboard.status.banned}"></option>
                        </select>
                    </div>
                </form>


                <div class="text-right">
                    <button id="saveUserBtn"
                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
                        th:text="#{dashboard.save_button.title}"></button>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{/js/dashboard-page/utils.js}"></script>
    <script th:src="@{/js/dashboard-page/user.js}"></script>
</div>