#loading {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    z-index: 1000; /* Đảm bảo loading xuất hiện trên các phần tử khác */
}