<div th:fragment="home" xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- Search section -->
    <section class="bg-cover bg-center py-20"
        th:style="'background-image: url(' + @{/image/background.png} + '); background-size: cover; filter: brightness(1.1) contrast(0.8);'">
        <div class="container mx-auto text-center text-white">
            <h2 class="text-5xl font-bold mb-4 text-black" th:text="#{homepage.background_header.title}"></h2>
            <p class="mb-8 text-black text-2xl" th:text="#{homepage.background_content.title}"></p>
            <!-- Search -->
            <div class="bg-white text-black rounded-lg p-6 space-x-6 inline-flex">
                <select id="categorySelect" class="p-2 border border-gray-300 rounded-lg">
                    <!-- Options will be populated by JavaScript -->
                </select>
                <input type="text" id="locationInput" placeholder="Location"
                    class="p-2 border border-gray-300 rounded-lg" />
                <input type="number" id="minPriceInput" placeholder="Min Price"
                    class="p-2 border border-gray-300 rounded-lg" />
                <input type="number" id="maxPriceInput" placeholder="Max Price"
                    class="p-2 border border-gray-300 rounded-lg" />
                <button id="searchButton" class="bg-green-600 text-white px-6 py-2 rounded-lg"
                    th:text="#{homepage.search.title}"></button>
            </div>
        </div>
    </section>

    <!-- Highest rating sports field (booking)-->
    <section class="container max-w-5xl mx-auto py-6">
        <h3 class="text-3xl font-bold text-center mb-8" th:text="#{homepage.rating.title}"></h3>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6" id="ratingSection">
            <!-- Cards will be populated by JavaScript -->
        </div>
    </section>

    <!-- Category -->
    <section class="container mx-auto py-12">
        <h3 class="text-2xl font-bold text-center mb-8" th:text="#{homepage.category.title}">Fields Category</h3>
        <div class="flex justify-center space-x-6" id="categorySection">
            <!-- Categories will be populated by JavaScript -->
        </div>
    </section>

    <!-- Partner -->
    <section class="bg-green-100 py-12">
        <div class="container mx-auto">
            <h3 class="text-2xl font-bold text-center mb-8" th:text="#{homepage.partner.title}"></h3>
            <div class="flex justify-center space-x-6">
                <img th:src="@{/image/partner/partner1.png}" alt="logo" class="w-16 h-16 rounded-full" />
                <img th:src="@{/image/partner/partner2.png}" alt="logo" class="w-16 h-16 rounded-full" />
                <img th:src="@{/image/partner/partner3.png}" alt="logo" class="w-16 h-16 rounded-full" />
                <img th:src="@{/image/partner/partner4.png}" alt="logo" class="w-16 h-16 rounded-full" />
                <img th:src="@{/image/partner/partner5.png}" alt="logo" class="w-16 h-16 rounded-full" />
                <img th:src="@{/image/partner/partner6.png}" alt="logo" class="w-16 h-16 rounded-full" />
            </div>
        </div>
    </section>
</div>