<div th:fragment="mainContent" th:switch="${content}" xmlns:th="http://www.w3.org/1999/xhtml">
    <script th:src="@{/js/utils.js}"></script>

    <div th:case="'home'">
        <div th:replace="~{/components/customer-page/home :: home}"></div>
    </div>

    <div th:case="'sportsField'">
        <div th:replace="~{/components/customer-page/sports-field.html :: sportsField}"></div>
    </div>

    <div th:case="'booking'">
        <div th:replace="~{/components/customer-page/user-booking :: userBooking}"></div>
    </div>

    <div th:case="'login'">
        <div th:replace="~{/components/pages/authentication/sign-in :: signIn}"></div>
    </div>

    <div th:case="'userInfo'">
        <div th:replace="~{/components/customer-page/user-info :: userInfo}"></div>
    </div>

    <div th:case="'fieldDetail'">
        <div th:replace="~{/components/customer-page/sports-field/field-detail :: fieldDetail}"></div>
    </div>

    <div th:case="'bookingHistory'">
        <div th:replace="~{/components/customer-page/my-booking :: bookingHistory}"></div>
    </div>

    <div th:case="'orderHistory'">
        <div th:replace="~{/components/customer-page/order :: orderHistory}"></div>
    </div>

    <div th:case="'changePassword'">
        <div th:replace="~{/components/customer-page/reset-password :: changePassword}"></div>
    </div>

    <div id="loading"></div>

</div>