<div th:fragment="mainContent" th:switch="${content}" xmlns:th="http://www.w3.org/1999/xhtml">
    <div th:case="'home'">
        <div th:replace="~{/components/customer-page/home :: home}"></div>
    </div>

    <div th:case="'sportsField'">
        <div th:replace="~{/components/customer-page/sports-field :: sportsField}"></div>
    </div>

    <div th:case="'booking'">
        <div th:replace="~{/components/customer-page/userBooking :: userBooking}"></div>
    </div>

    <div th:case="'login'">
        <div th:replace="~{/components/pages/authentication/sign-in :: signIn}"></div>
    </div>

    <div th:case="'userInfo'">
        <div th:replace="~{/components/customer-page/userInfo :: userInfo}"></div>
    </div>

    <div th:case="'fieldDetail'">
        <div th:replace="~{/components/customer-page/sportField/field-detail :: fieldDetail}"></div>
    </div>

    <div th:case="'fieldReview'">
        <div th:replace="~{/components/customer-page/sportField/field-detail :: fieldDetail}"></div>
    </div>
</div>
