<div class="flex justify-center items-center mt-10" th:fragment="bookingDetail">
    <div class="h-3/5 w-5/6 border rounded-xl shadow-xl border-gray-400 bg-white">
        <div class="flex justify-between p-4 border-b items-center">
            <div class="flex items-center">
                <span class="text-2xl font-semibold text" th:text="#{booking_detail.header.title}"></span>
                <span class="py-1 px-2 mx-2 bg-purple-100 rounded-2xl" id='booking_detail.status'>Đang được thuê</span>
            </div>
            <i class="fa-solid fa-xmark cursor-pointer text-xl text-red-500" id="buttonCloseBookingDetail"></i>
        </div>
        <div class="bg-gray-100 mx-6 my-4 py-5 px-7 rounded-2xl flex flex-row justify-between items-center">
            <div class="flex flex-col">
                <span class="font-semibold text-xl text-green-800" th:text="#{booking_detail.info.title}"></span>
                <div class="flex flex-row items-center mt-3">
                    <div class="flex flex-row px-2 mr-4">
                        <img src="https://placehold.co/600x400" class="w-16 rounded-full mx-3"
                            id='booking_detail.field_image' alt="" />
                        <div class="flex flex-col">
                            <span class="text-green-900 text-lg font-bold" id='booking_detail.field_name'>Etihad</span>
                            <span class="text-gray-700 text-sm" id='booking_detail.field_category'>Sân bóng đá</span>
                        </div>
                    </div>
                    <span class="text-green-500 bg-gray-200 py-1 px-3 rounded-2xl"
                        id='booking_detail.field_address'>London, England</span>
                </div>
            </div>
            <div class="flex flex-col items-center">
                <div>
                    <span class="text-lg" th:text="#{booking_detail.field_select_quantity.title}"></span>
                    <span class="text-xl text-green-800 font-bold mx-2"
                        id="booking_detail.select_quantity_availabilities">0</span>
                </div>
                <span class="text-2xl text-red-500 font-bold mx-2"
                    id="booking_detail.select_price_availabilities">0</span>
            </div>
        </div>
        <div class="flex justify-end mx-12">
            <a th:href="@{/order}"
                th:class="${content == 'orderHistory'} ? 'h-9 w-28 bg-green-300 rounded-xl font-bold text-center flex items-center justify-center active' : 'h-9 w-28 bg-green-300 rounded-xl font-bold text-center flex items-center justify-center inactive'"
                id="orderButton" th:text="#{booking_detail.button_order.title}">
            </a>
        </div>
        <div class="m-5 p-5 border-2 bg-green-100">
            <div class="flex flex-row justify-between items-center pb-3 border-b">
                <span class="font-semibold text-xl text-green-800"
                    th:text="#{booking_detail.field_availability.title}"></span>
                <div class="flex flex-row items-center">
                    <i class="fa-solid fa-chevron-left text-xl cursor-pointer text-green-600"
                        id="booking_detail.previousDate"></i>
                    <span class="mx-1 text-lg mx-4" id="booking_detail.currentDate"></span>
                    <i class="fa-solid fa-chevron-right text-xl cursor-pointer text-green-600"
                        id="booking_detail.nextDate"></i>
                </div>
                <select id="countries"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-md font-semibold rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5">
                    <option selected th:text="#{booking_detail.status_filter.title}"></option>
                    <option value="US">Status</option>
                    <option value="CA">Available</option>
                    <option value="FR">Ordered</option>
                </select>
            </div>

            <div class="py-4 mx-8">
                <div class="flex flex-row justify-between">
                    <div class="flex flex-1 justify-between">
                        <span class="text-lg font-semibold flex-1"
                            th:text="#{booking_detail.opening_time.title}"></span>
                        <span class="text-lg font-semibold flex-1 text-center"
                            th:text="#{booking_detail.closing_time.title}"></span>
                        <span class="text-lg font-semibold flex-1 text-end"
                            th:text="#{booking_detail.price.title}"></span>
                    </div>
                    <span class="flex w-1/2 justify-end text-lg font-semibold"
                        th:text="#{booking_detail.status_filter.title}"></span>
                </div>

                <div class="overflow-y-scroll custom-scrollbar max-h-40" id='booking_detail.field_availabilities'>

                </div>
            </div>
        </div>
    </div>

</div>